$directions: (top, right, bottom, left);

$spacing-sizes: (
  tiny: 5px,
  small: 10px,
  medium: 20px,
  large: 30px,
  xlarge: 40px
);

@each $direction in $directions {
  .u-push-#{$direction} {
    @each $size, $unit in $spacing-sizes {
      &--#{$size} {
        margin-#{$direction}: $unit !important;
      }
    }

    @include breakpoint(large) {
      @each $size, $unit in $spacing-sizes {
        &--#{$size} {
          margin-#{$direction}: ($unit * 1.5) !important;
        }
      }
    }
  }
}

.u-flush {
  margin: 0 !important;

  @each $direction in $directions {
    &--#{$direction} {
      margin-#{$direction}: 0 !important;
    }
  }
}
