// Spacing Mixin
$directions: (top, right, bottom, left);

$spacing-sizes: (
  tiny: 5px,
  small: 10px,
  medium: 20px,
  large: 30px,
  xlarge: 40px
);


// Flex
.u-flex {
  display: flex;
}

.u-flex--reverse {
  flex-direction: row-reverse;
}


// Disabled
.u-disabled {
  opacity: .6;
  pointer-events: none;
}


// Rounded Corners
.u-rounded {
  border-radius: $primary-border-radius;
}


// Centering
.u-centered,
.u-text--centered {
  text-align: center;
}


// Positioning
.u-relative {
  position: relative;
}

.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

.u-block {
  display: block;
}

.u-text--small {
  font-size: 14px;
  line-height: 20px;
}

.u-text--large {
  font-size: 18px;
  line-height: 26px;
}

.u-text--light {
  font-weight: 300;
}

.u-text--normal {
  font-weight: 400;
}

.u-text--bold {
  font-weight: 700;
}

.u-text-link--large {
  font-size: 18px;
  line-height: 26px;
}

.u-text-link--small {
  font-size: 14px;
  line-height: 20px;
}

.u-text--italic {
  font-style: italic;
}


// Spacing Helpers
@each $direction in $directions {
  .u-push-#{$direction} {
    @each $size, $unit in $spacing-sizes {
      &--#{$size} {
        margin-#{$direction}: $unit !important;
      }
    }

    @include breakpoint(large) {
      @each $size, $unit in $spacing-sizes {
        &--#{$size} {
          margin-#{$direction}: ($unit * 1.5) !important;
        }
      }
    }
  }
}

.u-flush {
  margin: 0 !important;

  @each $direction in $directions {
    &--#{$direction} {
      margin-#{$direction}: 0 !important;
    }
  }
}


// Divider
.u-divider {
  @include size(100%, 1px);
  border: 0;
  background: color('gray', 90);
}
