// red
$red-1: #ffe5e3;
$red-2: #ffcdca;
$red-3: #feb5b1;
$red-4: #fe9e97;
$red-5: #fd867e;
$red-6: #fd6e65;
$red-7: #fc564c;
$red-8: #fc3f32;
$red-9: #fb2719;
$red-10: #fb0f00;
$red-11: #e60d00;
$red-12: #d40c00;
$red-13: #c10c00;
$red-14: #af0b00;
$red-15: #9d0a00;
$red-16: #8a0a00;
$red-17: #780900;
$red-18: #660800;
$red-19: #530800;
$red-20: #410700;


// redorange
$redorange-1: #ffeee6;
$redorange-2: #ffdbcd;
$redorange-3: #ffc8b4;
$redorange-4: #ffb59b;
$redorange-5: #ffa282;
$redorange-6: #ff8e6a;
$redorange-7: #ff7b51;
$redorange-8: #ff6838;
$redorange-9: #ff551f;
$redorange-10: #ff4206;
$redorange-11: #e65700;
$redorange-12: #d65200;
$redorange-13: #c74d00;
$redorange-14: #b74800;
$redorange-15: #a74300;
$redorange-16: #983e00;
$redorange-17: #883900;
$redorange-18: #783400;
$redorange-19: #692f00;
$redorange-20: #592a00;


// orange
$orange-1: #fff5e3;
$orange-2: #ffecca;
$orange-3: #ffe3b1;
$orange-4: #ffda98;
$orange-5: #ffd17f;
$orange-6: #ffc767;
$orange-7: #ffbe4e;
$orange-8: #ffb535;
$orange-9: #ffac1c;
$orange-10: #ffa303;
$orange-11: #eaa300;
$orange-12: #d99700;
$orange-13: #c88a00;
$orange-14: #b77e00;
$orange-15: #a67100;
$orange-16: #966500;
$orange-17: #855800;
$orange-18: #744c00;
$orange-19: #633f00;
$orange-20: #523300;


// yellow
$yellow-1: #fcffe2;
$yellow-2: #fbffc9;
$yellow-3: #faffb0;
$yellow-4: #faff97;
$yellow-5: #f9ff7e;
$yellow-6: #f8ff64;
$yellow-7: #f7ff4b;
$yellow-8: #f7ff32;
$yellow-9: #f6ff19;
$yellow-10: #f5ff00;
$yellow-11: #e3f000;
$yellow-12: #cfdb00;
$yellow-13: #bbc600;
$yellow-14: #a7b000;
$yellow-15: #939b00;
$yellow-16: #7e8600;
$yellow-17: #6a7100;
$yellow-18: #565b00;
$yellow-19: #424600;
$yellow-20: #2e3100;


// lime
$lime-1: #f9ffe2;
$lime-2: #f5fec9;
$lime-3: #f1fdb0;
$lime-4: #edfc97;
$lime-5: #e9fb7e;
$lime-6: #e6fb64;
$lime-7: #e2fa4b;
$lime-8: #def932;
$lime-9: #daf819;
$lime-10: #d6f700;
$lime-11: #c3ed00;
$lime-12: #b3d900;
$lime-13: #a2c600;
$lime-14: #92b200;
$lime-15: #829e00;
$lime-16: #718b00;
$lime-17: #617700;
$lime-18: #516300;
$lime-19: #405000;
$lime-20: #303c00;


// gold
$gold-1: #fff7e6;
$gold-2: #fef2cc;
$gold-3: #fdecb3;
$gold-4: #fbe799;
$gold-5: #fae280;
$gold-6: #f9dc66;
$gold-7: #f8d74d;
$gold-8: #f6d233;
$gold-9: #f5cc1a;
$gold-10: #f4c700;
$gold-11: #e9ba00;
$gold-12: #d5aa00;
$gold-13: #c09a00;
$gold-14: #ac8a00;
$gold-15: #977a00;
$gold-16: #836900;
$gold-17: #6e5900;
$gold-18: #5a4900;
$gold-19: #453900;
$gold-20: #312900;


// green
$green-1: #e7ffd0;
$green-2: #daffb9;
$green-3: #cdffa2;
$green-4: #c0ff8b;
$green-5: #b3ff74;
$green-6: #a5ff5c;
$green-7: #98ff45;
$green-8: #8bff2e;
$green-9: #7eff17;
$green-10: #71ff00;
$green-11: #7ced00;
$green-12: #71db00;
$green-13: #66c900;
$green-14: #5bb700;
$green-15: #50a500;
$green-16: #459200;
$green-17: #3a8000;
$green-18: #2f6e00;
$green-19: #245c00;
$green-20: #194a00;


// applegreen
$applegreen-1: #d8ffde;
$applegreen-2: #c1ffc9;
$applegreen-3: #aaffb4;
$applegreen-4: #92ffa0;
$applegreen-5: #7bff8b;
$applegreen-6: #64ff76;
$applegreen-7: #4dff61;
$applegreen-8: #35ff4d;
$applegreen-9: #1eff38;
$applegreen-10: #07ff23;
$applegreen-11: #00e907;
$applegreen-12: #00d707;
$applegreen-13: #00c406;
$applegreen-14: #00b206;
$applegreen-15: #009f05;
$applegreen-16: #008d05;
$applegreen-17: #007a04;
$applegreen-18: #006804;
$applegreen-19: #005503;
$applegreen-20: #004303;


// paleblue
$paleblue-1: #d4fcff;
$paleblue-2: #bdf6ff;
$paleblue-3: #a6f0ff;
$paleblue-4: #8eeaff;
$paleblue-5: #77e4ff;
$paleblue-6: #60ddff;
$paleblue-7: #49d7ff;
$paleblue-8: #31d1ff;
$paleblue-9: #1acbff;
$paleblue-10: #03c5ff;
$paleblue-11: #00bde9;
$paleblue-12: #00b1da;
$paleblue-13: #00a4cc;
$paleblue-14: #0098bd;
$paleblue-15: #008baf;
$paleblue-16: #007fa0;
$paleblue-17: #007292;
$paleblue-18: #006683;
$paleblue-19: #005975;
$paleblue-20: #004d66;


// blue
$blue-1: #dbf3ff;
$blue-2: #c3e8fe;
$blue-3: #aaddfd;
$blue-4: #92d2fb;
$blue-5: #7ac7fa;
$blue-6: #61bcf9;
$blue-7: #49b1f8;
$blue-8: #31a6f6;
$blue-9: #189bf5;
$blue-10: #0090f4;
$blue-11: #0084f0;
$blue-12: #0078dc;
$blue-13: #006dc8;
$blue-14: #0061b4;
$blue-15: #0055a0;
$blue-16: #004a8c;
$blue-17: #003e78;
$blue-18: #003264;
$blue-19: #002750;
$blue-20: #001b3c;


// teal
$teal-1: #d8ffee;
$teal-2: #c0ffe4;
$teal-3: #a9ffdb;
$teal-4: #91ffd1;
$teal-5: #79ffc8;
$teal-6: #62ffbe;
$teal-7: #4affb5;
$teal-8: #32ffab;
$teal-9: #1bffa2;
$teal-10: #03ff98;
$teal-11: #00ed9f;
$teal-12: #00d991;
$teal-13: #00c584;
$teal-14: #00b176;
$teal-15: #009d68;
$teal-16: #00885b;
$teal-17: #00744d;
$teal-18: #00603f;
$teal-19: #004c32;
$teal-20: #003824;


// aqua
$aqua-1: #dbfdff;
$aqua-2: #c3fbff;
$aqua-3: #aafafe;
$aqua-4: #92f8fe;
$aqua-5: #7af6fd;
$aqua-6: #61f5fd;
$aqua-7: #49f3fc;
$aqua-8: #31f1fc;
$aqua-9: #18f0fb;
$aqua-10: #00eefb;
$aqua-11: #00e3e6;
$aqua-12: #00d1d4;
$aqua-13: #00bec2;
$aqua-14: #00acb0;
$aqua-15: #009a9e;
$aqua-16: #00878b;
$aqua-17: #007579;
$aqua-18: #006367;
$aqua-19: #005055;
$aqua-20: #003e43;


// ultramarine
$ultramarine-1: #e2e6ff;
$ultramarine-2: #cad2ff;
$ultramarine-3: #b1beff;
$ultramarine-4: #99aaff;
$ultramarine-5: #8196ff;
$ultramarine-6: #6881ff;
$ultramarine-7: #506dff;
$ultramarine-8: #3859ff;
$ultramarine-9: #1f45ff;
$ultramarine-10: #0731ff;
$ultramarine-11: #002be2;
$ultramarine-12: #0028d0;
$ultramarine-13: #0025be;
$ultramarine-14: #0022ac;
$ultramarine-15: #001f9a;
$ultramarine-16: #001d87;
$ultramarine-17: #001a75;
$ultramarine-18: #001763;
$ultramarine-19: #001451;
$ultramarine-20: #00113f;


// lavender
$lavender-1: #e2d8ff;
$lavender-2: #d2c1ff;
$lavender-3: #c2aaff;
$lavender-4: #b193ff;
$lavender-5: #a17cff;
$lavender-6: #9166ff;
$lavender-7: #814fff;
$lavender-8: #7038ff;
$lavender-9: #6021ff;
$lavender-10: #500aff;
$lavender-11: #4b00db;
$lavender-12: #4400c8;
$lavender-13: #3d00b5;
$lavender-14: #3600a2;
$lavender-15: #2f008f;
$lavender-16: #27007d;
$lavender-17: #20006a;
$lavender-18: #190057;
$lavender-19: #120044;
$lavender-20: #0b0031;


// purple
$purple-1: #f5dbff;
$purple-2: #ebc3ff;
$purple-3: #e1abff;
$purple-4: #d793ff;
$purple-5: #cd7bff;
$purple-6: #c363ff;
$purple-7: #b94bff;
$purple-8: #af33ff;
$purple-9: #a51bff;
$purple-10: #9b03ff;
$purple-11: #9100e9;
$purple-12: #8400d5;
$purple-13: #7800c1;
$purple-14: #6b00ad;
$purple-15: #5e0099;
$purple-16: #520085;
$purple-17: #450071;
$purple-18: #38005d;
$purple-19: #2c0049;
$purple-20: #1f0035;


// fuchia
$fuchia-1: #fadbff;
$fuchia-2: #f8c3ff;
$fuchia-3: #f6aaff;
$fuchia-4: #f392ff;
$fuchia-5: #f17aff;
$fuchia-6: #ef61ff;
$fuchia-7: #ed49ff;
$fuchia-8: #ea31ff;
$fuchia-9: #e818ff;
$fuchia-10: #e600ff;
$fuchia-11: #d500e2;
$fuchia-12: #c200ce;
$fuchia-13: #af00b9;
$fuchia-14: #9b00a5;
$fuchia-15: #880090;
$fuchia-16: #75007c;
$fuchia-17: #620067;
$fuchia-18: #4e0053;
$fuchia-19: #3b003e;
$fuchia-20: #28002a;


// magneta
$magneta-1: #ffdbf6;
$magneta-2: #ffc3f1;
$magneta-3: #feaaec;
$magneta-4: #fe92e7;
$magneta-5: #fd7ae2;
$magneta-6: #fd61dc;
$magneta-7: #fc49d7;
$magneta-8: #fc31d2;
$magneta-9: #fb18cd;
$magneta-10: #fb00c8;
$magneta-11: #e900c3;
$magneta-12: #d700b3;
$magneta-13: #c400a3;
$magneta-14: #b20093;
$magneta-15: #9f0083;
$magneta-16: #8d0074;
$magneta-17: #7a0064;
$magneta-18: #680054;
$magneta-19: #550044;
$magneta-20: #430034;


// ruby
$ruby-1: #ffe2f2;
$ruby-2: #ffc9e7;
$ruby-3: #ffb0dc;
$ruby-4: #ff97d1;
$ruby-5: #ff7ec6;
$ruby-6: #ff64ba;
$ruby-7: #ff4baf;
$ruby-8: #ff32a4;
$ruby-9: #ff1999;
$ruby-10: #ff008e;
$ruby-11: #e60085;
$ruby-12: #d3007a;
$ruby-13: #c1006f;
$ruby-14: #ae0065;
$ruby-15: #9c005a;
$ruby-16: #89004f;
$ruby-17: #770044;
$ruby-18: #64003a;
$ruby-19: #52002f;
$ruby-20: #3f0024;


// cerise
$cerise-1: #ffdbea;
$cerise-2: #ffc3db;
$cerise-3: #ffabcc;
$cerise-4: #ff93bd;
$cerise-5: #ff7bae;
$cerise-6: #ff639e;
$cerise-7: #ff4b8f;
$cerise-8: #ff3380;
$cerise-9: #ff1b71;
$cerise-10: #ff0362;
$cerise-11: #e2005e;
$cerise-12: #d00056;
$cerise-13: #bd004f;
$cerise-14: #ab0047;
$cerise-15: #98003f;
$cerise-16: #860038;
$cerise-17: #730030;
$cerise-18: #610028;
$cerise-19: #4e0021;
$cerise-20: #3c0019;


// coral
$coral-1: #ffe6e7;
$coral-2: #ffcccf;
$coral-3: #ffb3b7;
$coral-4: #ff999f;
$coral-5: #ff8087;
$coral-6: #ff666f;
$coral-7: #ff4d57;
$coral-8: #ff333f;
$coral-9: #ff1a27;
$coral-10: #ff000f;
$coral-11: #de000d;
$coral-12: #c9000c;
$coral-13: #b4000b;
$coral-14: #a0000a;
$coral-15: #8b0009;
$coral-16: #760007;
$coral-17: #610006;
$coral-18: #4d0005;
$coral-19: #380004;
$coral-20: #230003;


// gray_cool_
$gray_cool_-1: #f2f2f2;
$gray_cool_-2: #e5e5e5;
$gray_cool_-3: #d9d9d9;
$gray_cool_-4: #cccccc;
$gray_cool_-5: #bfbfbf;
$gray_cool_-6: #b3b3b3;
$gray_cool_-7: #a6a6a6;
$gray_cool_-8: #999999;
$gray_cool_-9: #8d8d8d;
$gray_cool_-10: #808080;
$gray_cool_-11: #666666;
$gray_cool_-12: #5e5e5e;
$gray_cool_-13: #555555;
$gray_cool_-14: #4d4d4d;
$gray_cool_-15: #444444;
$gray_cool_-16: #3c3c3c;
$gray_cool_-17: #333333;
$gray_cool_-18: #2b2b2b;
$gray_cool_-19: #222222;
$gray_cool_-20: #1a1a1a;


// gray-warm
$gray-warm-1: #f2f1f1;
$gray-warm-2: #e5e3e3;
$gray-warm-3: #d9d5d4;
$gray-warm-4: #ccc7c6;
$gray-warm-5: #bfb9b8;
$gray-warm-6: #b3aca9;
$gray-warm-7: #a69e9b;
$gray-warm-8: #99908d;
$gray-warm-9: #8d827e;
$gray-warm-10: #807470;
$gray-warm-11: #807470;
$gray-warm-12: #756a66;
$gray-warm-13: #695f5c;
$gray-warm-14: #5e5551;
$gray-warm-15: #534a47;
$gray-warm-16: #47403d;
$gray-warm-17: #3c3533;
$gray-warm-18: #312b28;
$gray-warm-19: #25201e;
$gray-warm-20: #1a1614;


// gray
$gray-1: #eeeff0;
$gray-2: #dedfe1;
$gray-3: #cdced1;
$gray-4: #bdbec2;
$gray-5: #acaeb3;
$gray-6: #9c9da3;
$gray-7: #8b8d94;
$gray-8: #7b7d85;
$gray-9: #6a6c75;
$gray-10: #5a5c66;
$gray-11: #4f5366;
$gray-12: #494c5e;
$gray-13: #424555;
$gray-14: #3c3f4d;
$gray-15: #353844;
$gray-16: #2f313c;
$gray-17: #282a33;
$gray-18: #22242b;
$gray-19: #1b1d22;
$gray-20: #15161a;


// shade
$shade-1: #ffffff;
$shade-2: #fdfdfd;
$shade-3: #fcfcfc;
$shade-4: #fafafa;
$shade-5: #f9f9f9;
$shade-6: #f7f7f7;
$shade-7: #f6f6f6;
$shade-8: #f4f4f4;
$shade-9: #f3f3f3;
$shade-10: #f1f1f1;
